.container {
    position: relative;
    text-align: center;
    color: black
}

img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
